/* media */

@media (min-width: 1024px) {
    .section6-left .flat-icon {
        display: inline-block;
        position: relative;
        top: -50%;
        right: 0;
        transform: translate(430%, -50%);
    }
    .section6-left {
        height: 550px;
    }
}
@media (min-width: 740px) and (max-width: 1023px){
    .header {
        background-color: #222222;
        padding: 0 10px;
        position: relative;
    }
    .mobile-menu {
        display: block;
    }
    .nav-bar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 90px;
    }
    .header .hidend {
        display: none;
        /* opacity: 0; */
    }
    .header .nav-bar ul {
        display: block;
        background-color: #222222;
        height: 280px;
    }
    .list-item {
        padding: 5px 25px;

    }
    .section6-left .flat-icon {
        display: inline-block;
        position: relative;
        top: -50%;
        right: 0;
        transform: translate(300%, -50%);
    }
    .section6-left {
        height: 450px;
    }
}

@media (max-width: 739px) {
    
    .nav-bar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 90px;
    }
    .header .nav-bar ul {
        display: block;
        background-color: #222222;
        height: 280px;
    }
    .header .hidend {
        display: none;
    }
    .list-item {
        padding: 5px 25px;

    }
    .header {
        background-color: #222222;
        padding: 0 10px;
    }
    /* *************** */
    .heading-container h1 {
        font-size: 40px;
        padding: 10px 15px;
    }
    .button .btn {
        display: block;
        margin: 5px;
    }
    .section6 .row {
        margin: 0;
    }

    /* *************** */
    .sub-heading h2 {
        width: 100%;
    }
    .mobile-menu {
        display: block;
    }
    .introduction-img {
        padding-top: 100%;
    }
    .introduction-decription h1 {
        font-size: 40px;
    }
    .introduction-decription .btn {
        display: block;
        margin: 10px;
    }
    .section1 {
        margin: 0;
    }
    
    .section1__right {
        margin-top: 50px;
        padding-left: 20px;
    }
    .section1__left-left:nth-child(1) .img {
       margin: 0;
    }
    .section1__left-left:nth-child(2) .img {
        margin: 0;
     }
     .section2 .item {
         border-radius: 0;
     }
     .section3 .text {
        padding: 25px 10px;
     }
     .sub-heading h2, .section1__right h2 {
         font-size: 28px;
         padding: 25px 0;

     }
     .section3 .btn {
         top: 0;
         padding: 10px 30px;

     }
     .section6-left .flat-icon {
        display: inline-block;
        position: relative;
        top: -50%;
        right: 0;
        transform: translate(120%, -50%);
    }
    .section6-left {
        height: 350px;
    }
    .item-sec10 {
        margin-bottom: 10px;
    }
    .section11 {
        padding: 100px 15px;
    }
    .section2,
    .section4 {
        margin: 100px 0;
    }
    .section-contact {
        margin: 0;
    }

}

@keyframes top-down {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        height: 280px;
        opacity: 1;
    }
}
@keyframes down-top {
    from {
        height: 280px;
        opacity: 1;
    }
    to {
        height: 0;
        opacity: 0;
    }
}
@keyframes top-down2 {
    from {
        transform:translateY(0);
    }
    to {
        transform:translateY(280px);
    }
} 
@keyframes down-top2 {
    from {
        transform:translateY(280px);
    }
    to {
        transform:translateY(0);
    }
}